<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aureus Business - Styleguide</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/abstyle.css" rel="stylesheet">

    <!-- Custom Fonts 
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic,300italic,700italic' rel='stylesheet' type='text/css'>-->
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" href="#" src="images/ab_logo.png"></img>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/uccguide">Universal Call Centers</a></li>
            <li><a href="/abguide">Aureus Business</a></li>
            <li><a href="/srguide">Service Radius</a></li>
            <li><a href="/tssguide">Total Satellite Services</a></li>  
            <li><a href="/">Alpha Dynamica, Inc.</a></li>  
            
          </ul>
        </li>
      </ul>
        
            <!-- Top Menu Items -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="#logo_types"><i class="fa fa-fw fa-dashboard"></i><h3>Logo Types</h3></a>
                    </li>
                    <li>
                        <a href="#color_details"><i class="fa fa-fw fa-table"></i><h3>Color Details</h3></a>
                    </li>
                    <li>
                        <a href="#typefaces"><i class="fa fa-fw fa-edit"></i><h3>Typefaces</h3></a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        
            <a  name="logo_types"></a>
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>Logo Types</h3></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Guidelines</h3>  
                            <p class="caption_lg">The Aureus Business Logo represents the corner stone of our identity and its permitted uses 
                                                  are permitted to those found in this styleguide.</br></br>
                                <b>DO NOT:</b></br></br>
                                Alter our logos in any way</br></br>
                                Place a logo in such close proximity to other content that it is indistinguishable</br></br>
                                Make our logo the most distinctive or prominent feature on your website, printed material or other content</br></br>
                                Use our logos in a way that is harmful, deceptive, obscene or otherwise objectionable to the average person</br></br>
                                Use our logos on websites or other places containing content associated with hate speech, pornography, gambling or illegal activities</br></br>
                                Use our logos to, or in connection with, content that disparages us or sullies our reputation</br></br>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <div class="box"><img src="images/ab_vertical.png"></div>
                                <h4>Primary Logo</h4>
                                <img src="images/border.png" class="border"></img>
                                <p class="caption">This is the primary logo. It should also be used when horizontal space is an issue. </p>
                            </div>                            
                            <div class="col-md-6">
                                <div class="box"><img src="images/ab_symbol.png"></div>
                                <h4>Symbol</h4>
                                <img src="images/border.png" class="border"></img>
                                <p class="caption">This is logo alone. It is permitted for use when a cleaner aesthetic may be required, provided that
                                                   the Aureus Business identity is stated clearly somewhere else on the creative project.
                                                   It may also be used as an icon for social media or in mobile applications.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="box_alt"><img src="images/ab_vertical_inverse.png"></div>
                                <h4>Vertical Lockup - Inverse</h4>
                                <img src="images/border.png" class="border"></img>
                                <p class="caption">This is the alternative version of the Primary Logo. Use this when the logo is required to be 
                                                   placed against a dark colored or black background.</p>
                            </div>                            
                            <div class="col-md-6">
                                <div class="box"><img src="images/ab_horizontal.png"></div>
                                <h4>Horizontal Lockup</h4>
                                <img src="images/border.png" class="border"></img>
                                <p class="caption">The Vertical Lockup is for use when horizontal space is an issue. The clear space between the symbol and the text is measured as the height of the text.</p>
                            </div>
                            <div class="col-md-12" style="text-align: center;">                                
                                <div class="box_lg"><img src="images/ab_wordmark.png"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"><h4>Wordmark</h4><img src="images/border.png" class="border"></img>
                                <p class="caption_lg">The wordmark is the least preferrable representation of the identity and should only 
                                                   be used when it is not possible to use any of the aforementioned representations. The appropriate
                                                   colors for the wordmark are limited to those found in the Color Details portion of this styleguide</p>
                                </div>
                                <div class="col-md-4"></div>
                                
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
      
            <a  name="color_details"></a>
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>Color Details</h3></h1> 
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Color Guide</h3> 
                            <p class="caption_lg">Use these colors to guide your designs and layouts to ensure you’re staying consistent with the Aureus Business brand.</br></br>
                        The golden gradient in the logo uses the following gold color variations going from the top of the logo to the bottom at the stops 0%, 40%, 55%, 85%, and 100% respectively.
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <div class="swatch" id="colorA"></div>                                
                                <h4>Gold 1 / #c68c33</h4>
                                <img src="images/border.png" class="border"></img>
                                <div class="col-md-4"> <p class="caption_alt"><b>Pantone</b></br></br> 7510 C C</p></div>
                                <div class="col-md-4"> <p class="caption_alt"><b>CMYK</b></br></br>21, 46, 97, 3</p></div>
                                <div class="col-md-4"> <p class="caption_alt"><b>RGB</b></br></br>198, 140, 51</p></div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="swatch" id="colorB"></div>
                                <h4>Gold 2 / #fcde7d</h4>
                                <img src="images/border.png" class="border"></img>
                                <div class="col-md-4"> <p class="caption_alt"><b>Pantone</b></br></br> 1215 C</p></div>
                                <div class="col-md-4"> <p class="caption_alt"><b>CMYK</b></br></br>2, 10, 61, 0</p></div>
                                <div class="col-md-4"> <p class="caption_alt"><b>RGB</b></br></br>255, 222, 125</p></div>
                            </div>
                            <div class="col-md-6">
                                <div class="swatch" id="colorC"></div>
                                <h4>Gold 3 / #eac17c</h4>
                                <img src="images/border.png" class="border"></img>                                
                                <div class="col-md-4"> <p class="caption_alt"><b>Pantone</b></br></br> 156 C</p></div>
                                <div class="col-md-4"> <p class="caption_alt"><b>CMYK</b></br></br>8, 24, 59, 0</p></div>
                                <div class="col-md-4"> <p class="caption_alt"><b>RGB</b></br></br>234, 193, 124</p></div>
                            </div>      
                            <div class="col-md-6">
                                <div class="swatch" id="colorD"></div>
                                <h4>Gold 4 / #c98d30</h4>
                                <img src="images/border.png" class="border"></img>
                                <div class="col-md-4"> <p class="caption_alt"><b>Pantone</b></br></br>7510 C</p></div>
                                <div class="col-md-4"> <p class="caption_alt"><b>CMYK</b></br></br>20, 16, 97, 2</p></div>
                                <div class="col-md-4"> <p class="caption_alt"><b>RGB</b></br></br>201, 141, 48</p></div>
                                
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <a  name="typefaces"></a>
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><h3>Typefaces</h3></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Typefaces</h3>   
                            <p class="caption_lg">
                                The Aureus Business identity uses two typefaces.</br></br>
                            Cantata One is reserved for Headings, Subheadings, Callouts, and Titles.</br></br>
                            Open Sans is to be used for body copy on the web and in print.
                            The wide variety of font weights for the Open Sans typeface will ensure flexibility and consistency for the growth for the Aureus Business identity. 
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-8">
                                <span class="textA"><h2>Cantata One</h2></span><img src="images/border.png" class="border"></img>
                                <h2 class="textA">
                                ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
                                abcdefghijklmnopqrstuvwxyz</br>
                                0123456789.,;:’”$#@!&*()</br>
                                </h2>
                            </div>
                            <div class="col-md-8">
                                <span class="textB"><h2>Open Sans</h2></span><img src="images/border.png" class="border"></img>
                                <h2 class="textB">
                                ABCDEFGHIJKLMNOPQRSTUVWXYZ</br>
                                abcdefghijklmnopqrstuvwxyz</br>
                                0123456789.,;:’”$#@!&*()</br>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>





    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
